<p-table
  [columns]="columns"
  [value]="data"
  [paginator]="true"
  [rows]="10"
  responsiveLayout="scroll"
>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns">
        {{ col.header }}
      </th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <ng-template #defaultTemplate>
      <tr>
        <td *ngFor="let col of columns">
          <ng-container [ngSwitch]="col.type">
            <span *ngSwitchCase="'date'">
              {{ rowData[col.field] | date : "medium" }}
            </span>

            <span *ngSwitchCase="'active'">
              {{ rowData[col.field] ? "Active" : "Inactive" }}
            </span>

            <span *ngSwitchDefault>
              {{ rowData[col.field] }}
            </span>
          </ng-container>
        </td>
      </tr>
    </ng-template>

    <ng-container
      *ngTemplateOutlet="
        customBodyTemplate ? customBodyTemplate : defaultTemplate;
        context: { $implicit: rowData }
      "
    ></ng-container>
  </ng-template>
</p-table>
